<html>
  <head>
    <title>Items</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    
    <h1>Items</h1>
    <ul>
      <% items.forEach(item => { %>
        <li><%= item.name %>, $<%= item.price %>
          <div class="list_item_buttons"><span>
            <form method="GET" action="/modprice">
            <input name="item_id" type="hidden" value="<%= item.id %>">
            <input name="item_name" type="hidden" value="<%= item.name %>">
            <button type="submit">Update price</button>
          </form>
          <form method="POST" action="/deleteitem">
            <input name="item_id" type="hidden" value="<%= item.id %>">
            <button type="submit">Delete item</button>
          </form>
        </span></div></li>
      <% }) %>
    </ul>

    <form method="GET" action="/additem">
      <input name="category" type="hidden" value="<%= category %>">
      <button type="submit">Add item</button>
   </form>

    <a href="/"><span> Home </span></a>
  </body>
</html>
